<nav class="border-end border-secondary" id="sidebar">
    <div class="d-flex px-1 py-2">
        <input #elm type="text" class="form-control form-control-sm shadow-sm me-1 rounded-pill"
            [(ngModel)]="searchedRouterLinkText" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="searchRouterLink()" placeholder="Search">
        <button type="button" class="btn btn-sm btn-secondary rounded-circle me-1" (click)="collapseAll()">
            <i class="bi bi-dash-lg"></i>
        </button>
        <button type="button" class="btn btn-sm btn-secondary rounded-circle" (click)="expandAll()">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>

    <div id="menu-area">
        <div class="px-2" id="add-on" *ngFor="let menuGroup of menuGroups">
            <div class="nav-lnk text-decoration-none d-flex py-2" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#'+menuGroup.bsTargetId" role="button" [attr.aria-expanded]="expand"
                [attr.aria-controls]="menuGroup.bsTargetId">
                <i class="bi {{menuGroup.icon}} fw-semibold me-2"></i>
                <span class="me-auto fw-semibold">{{menuGroup.menuGroupName}}</span>
                <i class="bi small bi-chevron-down toggle-caret"></i>
            </div>
            <ul class="collapse list-unstyled" id="{{menuGroup.bsTargetId}}" [ngClass]="expand==true?'show':''">
                <li *ngFor="let mainMenu of menuGroup.mainMenus">
                    <a *ngIf="mainMenu.routerLink!=null" class="text-decoration-none  d-block ps-3 py-1"
                        [routerLink]="mainMenu.routerLink" routerLinkActive="active" (click)="onTap()">
                        <i class="bi {{mainMenu.icon}} me-2"></i>{{mainMenu.mainMenuName}}
                    </a>
                    <div *ngIf="mainMenu.routerLink==null" class="ps-3 py-1">
                        <div class="nav-lnk text-decoration-none d-flex py-2" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#'+mainMenu.bsTargetId" role="button" [attr.aria-expanded]="expand"
                            [attr.aria-controls]="mainMenu.bsTargetId">
                            <i class="bi {{mainMenu.icon}} me-2"></i>
                            <span class="me-auto">{{mainMenu.mainMenuName}}</span>
                            <i class="bi small bi-chevron-down toggle-caret"></i>
                        </div>
                        <ul class="collapse list-unstyled" id="{{mainMenu.bsTargetId}}"
                            [ngClass]="expand==true?'show':''">
                            <li *ngFor="let subMenu of mainMenu.subMenus">
                                <a class="text-decoration-none d-block ps-3 py-1" [routerLink]="subMenu.routerLink"
                                    routerLinkActive="active" (click)="onTap()">
                                    <i class="bi {{subMenu.icon}} me-2"></i>{{subMenu.subMenuName}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- <div class="px-2" id="installed" *ngIf="role!=='USER'">
            <div class="nav-lnk text-decoration-none d-flex py-2" data-bs-toggle="collapse" data-bs-target="#admin"
                role="button" [attr.aria-expanded]="expand" aria-controls="admin">
                <i class="bi bi-person-fill-gear fw-semibold me-2"></i>
                <span class="me-auto fw-semibold">Admin</span>
                <i class="bi small bi-chevron-down toggle-caret"></i>
            </div>
            <ul class="collapse list-unstyled" id="admin" [ngClass]="expand==true?'show':''">
                <li>
                    <a class="text-decoration-none  d-block ps-3 py-1" routerLink="./addon" routerLinkActive="active">
                        <i class="bi bi-bag-plus-fill me-2"></i>Add-On
                    </a>
                </li>
                <li>
                    <div class="nav-lnk text-decoration-none d-flex ps-3 py-2" data-bs-toggle="collapse"
                        data-bs-target="#connection" role="button" [attr.aria-expanded]="expand"
                        aria-controls="connection">
                        <i class="bi bi-plugin me-2"></i>
                        <span class="me-auto">Connections</span>
                        <i class="bi small bi-chevron-down toggle-caret"></i>
                    </div>
                    <ul class="collapse list-unstyled ps-3" id="connection" [ngClass]="expand==true?'show':''">
                        <li>
                            <a class="text-decoration-none  d-block ps-3 py-1" routerLink="./connection/sql-connection"
                                routerLinkActive="active"><i class="bi bi-blockquote-left me-2"></i>SQL Connection</a>
                        </li>
                        <li>
                            <a class="text-decoration-none  d-block ps-3 py-1"
                                routerLink="./connection/storage-connection" routerLinkActive="active"><i
                                    class="bi bi-blockquote-left me-2"></i>Storage Connection</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="text-decoration-none d-block ps-3 py-1" routerLink="./payment" routerLinkActive="active">
                        <i class="bi bi-currency-dollar me-2"></i>Payment
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none d-block ps-3 py-1" routerLink="./billing" routerLinkActive="active">
                        <i class="bi bi-cash-stack me-2"></i>Billing
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none  d-block ps-3 py-1" routerLink="./user" routerLinkActive="active">
                        <i class="bi bi-people-fill me-2"></i>Users</a>
                </li>
                <li>
                    <a class="text-decoration-none  d-block ps-3 py-1" routerLink="./activities"
                        routerLinkActive="active">
                        <i class="bi bi-activity me-2"></i>User Activities
                    </a>
                </li>
            </ul>
        </div> -->
        <div class="px-2" id="globaladmin">
            <ul class="list-unstyled">
                <li *ngIf="role=='GlobalAdmin'">
                    <a class="text-decoration-none  d-block py-1" routerLink="./onboarding" routerLinkActive="active">
                        <i class="bi bi-wrench-adjustable me-2"></i>Onboarding
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<p-overlayPanel #op [style]="{overflow:'auto', 'max-height':'60vh'}">
    <ng-template pTemplate>
        <div class="list-group list-group-flush p-0" *ngIf="routerLinkFiltered.length>=1">
            <a routerLink="{{routerLink.link}}" class="list-group-item list-group-item-action px-0 py-1"
                *ngFor="let routerLink of routerLinkFiltered" (click)="op.hide();setRouterTest(routerLink.text)">
                <i class="bi {{routerLink.icon}} me-2"></i>{{routerLink.text}}
            </a>
        </div>
        <div *ngIf="routerLinkFiltered.length<1">No Results Found!</div>
    </ng-template>
</p-overlayPanel>