nav {
  transition: 0.5s ease-in-out;
  box-shadow: var(--default-shadow);
  background-color: var(--first);
}


nav .navbar-brand {
  color: var(--text-color);
  transition: 0.5s ease-in-out;
  font-family: 'Play', sans-serif;
}

.nav-item .nav-link {
  color: var(--text-color);
  transition: 0.5s ease-in-out;
  font-family: 'Play', sans-serif;
}