<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="card" style="width: 350px;" *ngIf="!isPasswordChanged">
        <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPasswordForm()">
                <div class="form-group mb-3">
                    <div class="input-group input-group-sm">
                        <input [type]="tieldToggleService.fieldTextType ? 'text' : 'password'"
                            placeholder="New Password" class="form-control form-control-sm shadow-none"
                            formControlName="newPassword" />
                        <span type="button" class="input-group-text" id="basic-addon2" (click)="toggleFieldTextType()">
                            <i class="bi" [ngClass]="{
                                    'bi-eye-slash': !tieldToggleService.fieldTextType,
                                    'bi-eye': tieldToggleService.fieldTextType
                                  }"></i>
                        </span>
                    </div>
                </div>
                <button class="btn btn-sm btn-primary shadow-none w-100" type="submit"
                    [disabled]="resetPasswordForm.invalid">
                    <div *ngIf="resetPasswordForm_loading" class="spinner-grow spinner-grow-sm text-warning"
                        role="status"></div>
                    <div *ngIf="!resetPasswordForm_loading">Change Password</div>
                </button>
            </form>
        </div>

        <div class="card-footer">
            <div class="text-inverse text-center d-flex justify-content-center">Back to <a class="ms-1"
                    routerLink="../landing" data-abc="true">login</a></div>
        </div>
    </div>
    <div *ngIf="isPasswordChanged">
        <div>
            <i class="bi bi-check-circle text-success" style="font-size: 45px;"></i>
        </div>
        <div class="fs-5">Pasword has been reset successfully!</div>
    </div>
</body>

</html>