nav {
    transition: 0.5s ease-in-out;
    // box-shadow: var(--shadow);
    background-color: var(--first);
    color: var(--color);
  }  
  nav .navbar-brand {
    color: var(--text-color);
    transition: 0.5s ease-in-out;
    font-family: 'Play', sans-serif;
  }
  
  .nav-item .nav-link {
    color: var(--text-color);
    transition: 0.5s ease-in-out;
    font-family: 'Play', sans-serif;
  }
  
  #profile-image {
    // border: 2px solid var(--color);
    transition: 0.5s ease-in-out;
  }
  
  button#feature-btn {
    background-color: var(--color);
    color: var(--btn-color);
    box-shadow: var(--default-shadow);
    transition: 0.5s ease-in-out;
    height: 38px;
  }
  
  .dropdown-menu {
    background-color: var(--first);
    color: var(--text-color);
    // box-shadow: var(--default-shadow);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition: 0.5s ease-in-out;
    font-family: 'Play', sans-serif;
  }
  
  .dropdown-item {
    color: var(--default-foreground);
    transition: 0.5s ease-in-out;
    font-family: 'Play', sans-serif;
  }
  @media screen and (max-width: 575px) {
    .hide {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
    }
  
    .rounded-pill {
      // background-color: red;
      border-radius: 40px;
      width: 40px;
      height: 40px;
    }
      .rounded-pill-badge {
        // background-color: red;
        border-radius: 40px;
        width: 40px;
        height: 40px;
      }
  
    .center {
      margin-left: auto;
    }
  }
  .notification-list {
    max-height:300px; /* Set a maximum height for the list to make it scrollable */
    overflow-y: auto;  /* Enable vertical scrolling if the content overflows the height */
    border: 1px solid red; /* Add a red border */
    padding: 10px; /* Optional padding for better appearance */
  }
  