<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top py-1 border-bottom border-secondary">
  <div class="container-fluid">
    <div (click)="toggleSidebar()" type="button" class="d-flex justify-content-center align-items-center me-3">
      <i class="bi bi-list fs-4"></i>
    </div>
    <a class="navbar-brand" routerLink="./home">
      <img [src]="companyLogoUrl" alt="" width="30" height="30"
        class="d-inline-block align-text-top me-2 rounded-circle shadow-none hide">
    </a>
    <ul class="navbar-nav me-auto center mb-2 mb-lg-0">
      <li class="nav-item fs-5">
        <a class="nav-link" aria-current="page">
          {{clinicName}}
        </a>
      </li>
    </ul>
  </div>
</nav>