<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body p-0">
                <p-table #dt1 [value]="Patients" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                    [(contextMenuSelection)]="selectedPatient" [contextMenu]="cm" sortMode="multiple"
                    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-sm p-datatable-striped" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['fullName','address','reasonForVisit', 'insuranceDetails', 'medicalHistory']">
                    <ng-template pTemplate="caption">
                        <div class="d-flex bd-highlight">
                            <div class="me-auto">Patients<span *ngIf="Patient_loading"
                                    class="spinner-border spinner-border-sm ms-4" role="status"
                                    aria-hidden="true"></span>
                            </div>
                            <div class="me-2">
                                <input type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                                    class="form-control form-control-sm shadow-none" placeholder="Search"
                                    aria-label="search" aria-describedby="basic-search">
                            </div>
                            <div class="me-0">
                                <button type="button" class="btn btn-sm btn-primary shadow-sm" (click)="showDialog()">
                                    <i class="bi bi-plus-square-fill me-2"></i>Add User
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="fullName">Name <p-sortIcon field="fullName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="phoneNumber">PhoneNo. <p-sortIcon field="phoneNumber"></p-sortIcon>
                            </th>
                            <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon>
                            </th>
                            <th pSortableColumn="reasonForVisit">Reason <p-sortIcon field="reasonForVisit"></p-sortIcon>
                            </th>
                            <th pSortableColumn="insuranceDetails">insuranceDetails <p-sortIcon
                                    field="insuranceDetails"></p-sortIcon>
                            </th>
                            <th pSortableColumn="medicalHistory">medicalHistory <p-sortIcon
                                    field="medicalHistory"></p-sortIcon>
                            </th>
                            <!-- <th pSortableColumn="dentalHistory">dentalHistory <p-sortIcon field="dentalHistory"></p-sortIcon>
                            </th> -->
                            <th pSortableColumn="dateOfBirth">dateOfBirth <p-sortIcon field="dateOfBirth"></p-sortIcon>
                            </th>
                            <th pSortableColumn="preferredDateAndTime">Visit Date <p-sortIcon
                                    field="preferredDateAndTime"></p-sortIcon>
                            </th>
                            <!-- <th pSortableColumn="addedBy">addedBy <p-sortIcon
                                field="addedBy"></p-sortIcon>
                            </th>
                            <th pSortableColumn="addedDate">addedDate <p-sortIcon
                                field="addedDate"></p-sortIcon>
                            </th>
                            <th pSortableColumn="updatedBy">updatedBy <p-sortIcon
                                    field="updatedBy"></p-sortIcon>
                            </th>
                        <th pSortableColumn="updatedDate">updatedDate <p-sortIcon
                                field="updatedDate"></p-sortIcon>
                        </th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-Patient>
                        <tr [pContextMenuRow]="Patient">
                            <td>{{Patient.fullName}} </td>
                            <td>{{Patient.phoneNumber}}</td>
                            <td>{{Patient.address}} </td>
                            <td>{{Patient.reasonForVisit}}</td>
                            <td>{{Patient.insuranceDetails}} </td>
                            <td>{{Patient.medicalHistory}}</td>
                            <!-- <td>{{Patient.dentalHistory}} </td> -->
                            <td>{{Patient.dateOfBirth+'Z' | date:'medium'}}</td>
                            <td>{{Patient.preferredDateAndTime+'Z' | date:'medium'}}</td>
                            <!-- <td>{{Patient.addedBy}}</td>
                            <td>{{Patient.addedDate}} </td>
                            <td>{{Patient.updatedBy}}</td>
                            <td>{{Patient.updatedDate}}</td> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No users found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </div>
</div>

<!--  User Add and update user -->
<p-dialog [(visible)]="display" [modal]="true" [draggable]="true" position="right" [resizable]="false"
    [baseZIndex]="10000" [transitionOptions]="'125ms'" [style]="{width: '27rem'}" (onHide)="resetCreateUserForm()">
    <ng-template pTemplate="header">
        {{createPatientForm.get('patientId')?.value?"Update Patient":"Add Patient"}}
    </ng-template>
    <form [formGroup]="createPatientForm" (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="Full Name"
                aria-label="first-name" formControlName="fullName"
                [ngClass]="{ 'is-invalid': f['fullName'].touched && f['fullName'].errors }">
        </div>
        <div class="mb-2">
            <input
    class="form-control form-control-sm shadow-none"
    type="text"
    placeholder="Date of Birth (YYYY-MM-DD)"
    aria-label="Date of Birth"
    formControlName="dateOfBirth"
    [ngClass]="{ 'is-invalid': f['dateOfBirth'].touched && f['dateOfBirth'].errors }"
    (focus)="convertToDate($event)"
    (blur)="convertToText($event)"
>

        </div>
        <!-- <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="Country Code"
                aria-label="last-name" formControlName="countryCode"
                [ngClass]="{ 'is-invalid': f['countryCode'].touched && f['countryCode'].errors }">
        </div> -->
        <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="Phone Number"
                aria-label="last-name" formControlName="phoneNumber" maxlength="10"
                [ngClass]="{ 'is-invalid': f['phoneNumber'].touched && f['phoneNumber'].errors }">
        </div>
        <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="address"
                aria-label="Address" formControlName="address"
                [ngClass]="{ 'is-invalid': f['address'].touched && f['address'].errors }">
        </div>
        <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="Reason For Visit"
                aria-label="last-name" formControlName="reasonForVisit"
                [ngClass]="{ 'is-invalid': f['reasonForVisit'].touched && f['reasonForVisit'].errors }">
        </div>
        <!-- <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="Patient Reports"
                aria-label="last-name" formControlName="patientReports"
                [ngClass]="{ 'is-invalid': f['patientReports'].touched && f['patientReports'].errors }">
        </div> -->
        <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="Insurance Details"
                aria-label="last-name" formControlName="insuranceDetails"
                [ngClass]="{ 'is-invalid': f['insuranceDetails'].touched && f['insuranceDetails'].errors }">
        </div>
        <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="Medical History"
                aria-label="last-name" formControlName="medicalHistory"
                [ngClass]="{ 'is-invalid': f['medicalHistory'].touched && f['medicalHistory'].errors }">
        </div>
        <div class="mb-2">
            <input class="form-control form-control-sm shadow-none" type="text" placeholder="Visit Date(YYYY-MM-DD)"
                aria-label="last-name" formControlName="preferredDateAndTime"
                [ngClass]="{ 'is-invalid': f['preferredDateAndTime'].touched && f['preferredDateAndTime'].errors }"
                (focus)="convertToDate($event)"
    (blur)="convertToText($event)">
        </div>
        <div class="mb-0 d-flex">
            <div class="me-2">
                <button class="btn btn-primary btn-sm shadow-sm w-100" type="submit"
                    [disabled]="!createPatientForm.valid">
                    <div *ngIf="!createPatientForm_loading"><i class="bi bi-save-fill me-2"></i>Save</div>
                    <div *ngIf="createPatientForm_loading" class="spinner-border spinner-border-sm text-warning"
                        role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
            <!-- <div class="me-auto">
                <button class="btn btn-sm btn-info shadow-sm" *ngIf="enablePass" tooltipPosition="top" [escape]="false"
                    tooltipEvent="hover"
                    pTooltip="<ul><li>Email has to be unique</li><li>Password<ul><li>has to be between 8 to 15 character long</li><li>at least one uppercase letter</li><li>at least one number</li><li>at least one special character (@$!%*?&)</li></ul></li></ul>">
                    <i class="bi bi-info-circle"></i>
                </button>
            </div> -->
            <div class="me-0">
                <button [disabled]="createPatientForm_loading" class="btn btn-warning btn-sm shadow-sm w-100"
                    type="button" (click)="resetCreateUserForm()">
                    <div><i class="bi bi-exclamation-triangle me-2"></i>Reset</div>
                </button>
            </div>

        </div>
    </form>
</p-dialog>

<p-contextMenu #cm [model]="items"></p-contextMenu>