<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Prescription </title>
</head>


<body class="bg-gray-100 min-h-screen">
    <div class="container mx-auto flex items-center justify-center">
        <div id="parentdiv" class="w-11in h-8.5in bg-gray-300" #parentdiv>
            <div class="w-full sm:w-3/5 md:w-3/4 lg:w-3/5 xl:w-1/5 div-height">
                <div class="flex justify-center p-2 bg-green-500">
                    <div class="flex-1 w-64">
                        <h1 class="text-2xl italic font-extrabold tracking-widest text-indigo-500">SHREE DENTAL CARE
                        </h1>
                        <p class="text-sm font-bold"> DR. AMAL MEHETARI (B.D.S) </p>
                        <div class="flex flex-row">
                            <div class="text-xs mr-2"> REG NO:</div>
                            <div class="text-xs"> 5542A(WBDC) </div>
                        </div>
                        <p class="text-xs"> FORMAR DENTAL SURGEON </p>
                        <p class="text-xs"> RAMAKRISHNA MISSION HOSPITAL, BANKURA </p>
                    </div>
                    <div class="flex-1 w-64">
                        <div class="flex flex-row">
                            <div class="flex flex-row items-center p-2 mr-2 sm:mr-10">
                                <img class="w-16 h-16" src="https://cdn-icons-png.flaticon.com/512/819/819280.png"
                                    alt="">
                            </div>
                            <div class="flex flex-col">
                                <p class="text-xs font-bold"> CLINIC HOURS: </p>
                                <div class="flex flex-col">
                                    <div class="text-xs mr-2"> 9:30 AM-1:00 PM </div>
                                    <div class="text-xs"> 5:30 AM-8:30 PM </div>
                                    <div class="text-xs text-red-500">SATURDAY Closed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full h-0.5 bg-indigo-500"></div>
                <div class="flex flex-col justify-between p-4">
                    <div class="flex flex-row">
                        <div class="mr-2"> Patient's Name: </div>
                        <div class="text-center"> xyz deo.</div>
                    </div>
                    <div class="flex flex-row">
                        <div class="flex-shrink"> Gender: </div>
                        <div class="flex-1"> Male</div>
                        <div class="flex-shrink"> Age: </div>
                        <div class="flex-1"> 29</div>
                        <div class="flex-shrink"> Address: </div>
                        <div class="flex-1"> Kanksa</div>
                        <div class="flex-shrink"> Date: </div>
                        <div class="flex-1"> 17-10-23</div>
                    </div>
                </div>
                <div class="w-full h-0.5 bg-indigo-500"></div>
                <div class="flex flex-row pl-4 pr-4">
                    <img src="https://img.freepik.com/premium-vector/cartoon-tooth-giving-thumb-up_29190-372.jpg?w=740"
                        class="m-40 absolute opacity-25 justify-items-center h-80 w-80" alt="">
                    <div class="flex flex-col justify-start  pr-4 bg-red-500">
                        <div class="h-32">C/O</div>
                        <div class="h-32">C/F</div>
                        <div class="h-32">M/H</div>
                        <div class="h-32">INVESTIATION</div>
                        <div class="h-32">D/D</div>
                        <div class="h-10">T/T</div>
                    </div>
                    <div class="flex flex-col justify-start">
                        <div class="h-[1000px]  bg-indigo-500 w-[2px]"></div>
                    </div>
                    <div class="flex flex-col justify-start pl-4 pr-4">
                        <div class="h-32 bg-green-300">C/O.Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="h-32 bg-red-400">C/F.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions
                            of Lorem
                            Ipsum.
                        </div>
                        <div class="h-32 bg-gray-500">M/H.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions
                            of Lorem
                            Ipsum.</div>
                        <div class="h-32">INVESTIATION.Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                        </div>
                        <div class="h-32 bg-yellow-300">
                            D/D.....Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </div>
                        <div class="h-10 bg-orange-400">T/T</div>
                    </div>
                </div>
                <div class="w-full h-1 bg-red-600"></div> <!--line Red--->
            </div>
        </div>

        <button class="bg-green-500 rounded-sm" (click)="downloadPdf()"> Print </button>

    </div>
</body>


<!-- <body>
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="w-3/5 shadow-lg ">
            <div class="flex justify-between p-4">
                <div class="flex-1">
                    <h1 class="text-2xl italic font-extrabold tracking-widest text-indigo-500">SHREE DENTAL CARE</h1>
                    <p class="text-sm font-bold"> DR. AMAL MEHETARI (B.D.S) </p>
                    <div class="flex flex-row">
                        <div class="text-xs mr-2"> REG NO:</div>
                        <div class="text-xs"> 5542A(WBDC) </div>
                    </div>
                    <p class="text-xs"> FORMAR DENTAL SURGEON </p>
                    <p class="text-xs"> RAMAKRISHNA MISSION HOSPITAL, BANKURA </p>
                </div>
                <div class="flex-1 ">
                    <ul class="flex">
                        <li class="flex flex-col items-center p-2 mr-52">
                            <img class="w-16 h-16" src="https://cdn-icons-png.flaticon.com/512/819/819280.png" alt="">
                        </li>
                        <li class="flex flex-col">
                            <p class="text-xs font-bold"> CLINIC HOURS: </p>
                            <div class="flex flex-col">
                                <div class="text-xs mr-2"> 9:30 AM-1:00 PM </div>
                                <div class="text-xs"> 5:30 AM-8:30 PM </div>
                                <div class="text-xs text-red-500"> SATURDAY CLOSED</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full h-0.5 bg-indigo-500"></div>
            <div class="flex flex-col justify-between p-4">
                <div class="flex flex-row">
                    <div class="mr-2 "> Patient's Name: </div>
                    <Div class="text-center"> xyz deo.</Div>
                </div>
                <div class="flex flex-row">
                    <div class="flex-shrink"> Gender: </div>
                    <Div class="flex-1"> Male</Div>
                    <div class="flex-shrink "> Age: </div>
                    <Div class="flex-1"> 29</Div>
                    <div class="flex-shrink "> Address: </div>
                    <Div class="flex-1"> Kanksa</Div>
                    <div class="flex-shrink"> Date: </div>
                    <Div class="flex-1"> 17-10-23</Div>
                </div>
            </div>
            <div class="w-full h-0.5 bg-indigo-500"></div>
            <div class="flex flex-row p-4">
                    <div class="flex flex-col justify-start p-4 bg-red-500">
                        <div class="h-40">C/O</div>
                        <div class="h-40">C/F</div>
                        <div class="h-40">M/H</div>
                        <div class="h-40">INVESTIATION</div>
                        <div class="h-40">D/D</div>
                        <div class="h-40">T/T</div>
                    </div>
                    <div class="flex flex-col justify-start p-4"> 
                        <div class="h-[1000px]  bg-indigo-500 w-[2px]"></div>


                    </div>
                    <div class="flex flex-col justify-start p-4 bg-green-300">
                        <img src="https://img.freepik.com/premium-vector/cartoon-tooth-giving-thumb-up_29190-372.jpg?w=740" class="absolute opacity-25 h-64 w-64"
                        alt="">
                        <div class="h-40">C/O.........................................................</div>
                        <div class="h-40">C/F..............................................................</div>
                        <div class="h-40">M/H................................................................</div>
                        <div class="h-40">INVESTIATION.......................................................</div>
                        <div class="h-40">D/D..............................................................................................................
                            ...............................................................................................................................
                        </div>
                        <div class="h-40">T/T</div>
                </div>
            </div>
            <div class="w-full h-0.5 bg-indigo-500"></div>


            <div class="flex justify-between p-4">
                NOO task
            </div>
            <div class="w-full h-0.5 bg-indigo-500"></div>

            <div class="p-4">
                <div class="flex items-center justify-center">
                    <p class="mt-8 font-medium">Instructions: Take medication as directed. Drink plenty of water.</p>
                </div>
                <div class="flex items-end justify-end space-x-3">
                    <button class="px-4 py-2 text-sm text-green-600 bg-green-100">Print</button>
                    <button class="px-4 py-2 text-sm text-blue-600 bg-blue-100">Save</button>
                    <button class="px-4 py-2 text-sm text-red-600 bg-red-100">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</body> -->

</html>