<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Prescription </title>
</head>

<body>

    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="w-3/5 shadow-lg ">
            <div class="flex justify-between p-4">
                <div class="flex-1">
                    <h1 class="text-2xl italic font-extrabold tracking-widest text-indigo-500">SHREE DENTAL CARE</h1>
                    <p class="text-sm font-bold"> DR. AMAL MEHETARI (B.D.S) </p>
                    <div class="flex flex-row">
                        <div class="text-xs mr-2"> REG NO:</div>
                        <div class="text-xs"> 5542A(WBDC) </div>
                    </div>
                    <p class="text-xs"> FORMAR DENTAL SURGEON </p>
                    <p class="text-xs"> RAMAKRISHNA MISSION HOSPITAL, BANKURA </p>
                    <!-- <p class="text-xs"> , BANKURA </p> -->
                </div>
                <div class="flex-1 ">
                    <ul class="flex">
                        <li class="flex flex-col items-center p-2 mr-52">
                            <img class="w-16 h-16" src="https://cdn-icons-png.flaticon.com/512/819/819280.png" alt="">
                        </li>
                        <li class="flex flex-col">
                            <p class="text-xs font-bold"> CLINIC HOURS: </p>
                            <div class="flex flex-col">
                                <div class="text-xs mr-2"> 9:30 AM-1:00 PM </div>
                                <div class="text-xs"> 5:30 AM-8:30 PM </div>
                                <div class="text-xs text-red-500"> SATURDAY CLOSED</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full h-0.5 bg-indigo-500"></div>
            <div class="flex flex-col justify-between p-4">
                <div class="flex flex-row">
                    <div class="mr-2 "> Patient's Name: </div>
                    <Div class="text-center"> xyz deo.</Div>
                </div>
                <div class="flex flex-row">
                    <div class="flex-shrink"> Gender: </div>
                    <Div class="flex-1"> Male</Div>
                    <div class="flex-shrink "> Age: </div>
                    <Div class="flex-1"> 29</Div>
                    <div class="flex-shrink "> Address: </div>
                    <Div class="flex-1"> Kanksa</Div>
                    <div class="flex-shrink"> Date: </div>
                    <Div class="flex-1"> 17-10-23</Div>
                </div>
            </div>
            <div class="w-full h-0.5 bg-indigo-500"></div>
            <div class="flex flex-row p-4">
                    <div class="flex flex-col justify-start p-4 bg-red-500">
                        <div class="h-40">C/O</div>
                        <div class="h-40">C/F</div>
                        <div class="h-40">M/H</div>
                        <div class="h-40">INVESTIATION</div>
                        <div class="h-40">D/D</div>
                        <div class="h-40">T/T</div>
                    </div>
                    <div class="flex flex-col justify-start p-4"> 
                        <div class="h-[1000px]  bg-indigo-500 w-[2px]"></div>


                    </div>
                    <div class="flex flex-col justify-start p-4 bg-green-300">
                        <div class="h-40">C/O.........................................................</div>
                        <div class="h-40">C/F..............................................................</div>
                        <div class="h-40">M/H................................................................</div>
                        <div class="h-40">INVESTIATION.......................................................</div>
                        <div class="h-40">D/D..............................................................................................................
                            ...............................................................................................................................
                        </div>
                        <div class="h-40">T/T</div>
                </div>
            </div>
            <div class="w-full h-0.5 bg-indigo-500"></div>


            <div class="flex justify-between p-4">
                NOO task
            </div>
            <div class="w-full h-0.5 bg-indigo-500"></div>

            <div class="p-4">
                <div class="flex items-center justify-center">
                    Thank you very much for doing business with us.
                </div>
                <div class="flex items-end justify-end space-x-3">
                    <button class="px-4 py-2 text-sm text-green-600 bg-green-100">Print</button>
                    <button class="px-4 py-2 text-sm text-blue-600 bg-blue-100">Save</button>
                    <button class="px-4 py-2 text-sm text-red-600 bg-red-100">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>