body {
    min-height: calc(100vh - 56px);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background-color: rgb(177, 173, 173);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}


