<div class="container d-flex flex-column justify-content-center align-items-center">
    <img src="assets/developer.jpg" alt="" width="100px" height="100px" class="rounded-pill">
    <p style="font-family:courier;text-align: center">
        HI, I am Abdul Arif from India, a full stack developer with Industry grade web application, Android app building
        skills
        <br><br>
        <a href="mailto:abdularif.dgp@gmail.com? subject=Want to hire you" style="text-decoration: none;">
            abdularif.dgp@gmail.com </a>
        <br>
        <a href="mailto:abdularif.dgp@gmail.com? subject=Want to hire you" style="text-decoration: none;">
            abdularif.dgp@gmail.com </a>
        <br>
        <a href="tel:+917432895514" style="text-decoration: none;">Call me: +919007323386</a>
    </p>
</div>