<!-- <div class="container d-flex flex-column justify-content-center align-items-center">
    <img src="assets/developer.jpg" alt="" width="100px" height="100px" class="rounded-pill">
    <p style="font-family:courier;text-align: center">
        HI, I am Abdul Arif from India, a full stack developer with Industry grade web application, Android app building
        skills
        <br><br>
        <a href="mailto:abdularif.dgp@gmail.com? subject=Want to hire you" style="text-decoration: none;">
            abdularif.dgp@gmail.com </a>
        <br>
        <a href="mailto:abdularif.dgp@gmail.com? subject=Want to hire you" style="text-decoration: none;">
            abdularif.dgp@gmail.com </a>
        <br>
        <a href="tel:+917432895514" style="text-decoration: none;">Call me: +919007323386</a>
    </p>
</div> -->

<div class="">
    <div class="card container d-flex flex-column justify-content-center align-items-center" style="width: 40rem;">
        <div class="card-header">CONTACT US</div>
        <div class="card-body">
            <div class="text-center">
                <img src="assets/developer.jpg" alt="" width="400px" height="400px" class="rounded-pill center-block">
            </div>
            <p style="font-family:courier;" class="card-text my-3 text-center">
                HI, I am Abdul Arif from India, a full stack developer with Industry grade web application, Android app
                building
                skills
                <br><br>
                <a href="mailto:abdularif.dgp@gmail.com? subject=Want to hire you" style="text-decoration: none;">
                    abdularif.dgp@gmail.com </a>
                <br>
                <a href="mailto:abdularif.dgp@gmail.com? subject=Want to hire you" style="text-decoration: none;">
                    abdularif.dgp@gmail.com </a>
                <br>
                <a href="tel:+917432895514" style="text-decoration: none;">Call me: +919007323386</a>
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>